<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Wife</title>
        <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css'>
    </head>
    <body ng-app='Wife'>
        
        <div ng-controller='expenseController'>
            <div class='col-lg-6 col-lg-offset-3'>
                <h1>wife</h1>
            </div>
            <div class='col-lg-6 col-lg-offset-3 well'>
                <form ng-submit='expenses.add_expense()' class='form'>
                    <div class="row">
                        <div class="col-lg-6">
                            <input class="form-control" placeholder='what?' ng-model='expenses.new_expense.name'>
                        </div>
                        <div class="col-lg-6">
                            <input class="form-control" placeholder='how much?' ng-model='expenses.new_expense.cost'>
                        </div>
                        <div class="col-lg-6">
                            <input class="form-control" placeholder='why?' ng-model='expenses.new_expense.description'>
                        </div>
                        <div class="col-lg-6">
                            <button type='submit' class='btn btn-default'>Tell your wife</button>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class='col-lg-6 col-lg-offset-3 well'>
                <table class='table'>
                    <tr ng-repeat='expense in expenses.list'>
                        <td>{{expense.date | date:'MMM d, h:mm a' }}</td>
                        <td>{{expense.name}}</td>
                        <td>{{expense.cost | currency }}</td>
                        <td>{{expense.description }}</td>
                    </tr>
                </table>
            </div>

            <pre class='well well-lg col-lg-12'>{{ expenses.list | json }}</pre>
        </div>

        <script src='bower_components/angular/angular.js'></script>
        <script src='app.js'></script>
    </body>
</html>
