<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Wife</title>
        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Noto+Serif:400italic,400,700italic,700'>
        <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css'>
    </head>

    <style type='text/css'>
        body, p, td, h1, h3 {
            color: rgb(68, 66, 62);
            font-family: 'Proxima Nova','Helvetica Neue','Helvetica',sans-serif;
            font-weight: 300;
        }
        h1 {
            font-size: 4em;
        }
        .well {
            background-color: white;
        }
    </style>
    <body ng-app='Wife'>
        
        <div ng-controller='expenseController'>
            <div class='col-lg-6 col-lg-offset-3'>
                <h1>wife</h1>
                <h3>definitely can't hide money from her</h3>
            </div>
            <div class='col-lg-6 col-lg-offset-3 well'>
                <form ng-submit='expenses.add_expense()' class='form'>
                    <div class='row-fluid'>
                        <div class='col-lg-6'>
                            <input class='form-control' type='text' placeholder='what?' ng-model='expenses.new_expense.name' required>
                            <input class='form-control' type='text' placeholder='why?' ng-model='expenses.new_expense.description' required>
                            <input class='form-control' type='number' placeholder='how much?' ng-model='expenses.new_expense.cost' required>
                        </div>
                        <div class='col-lg-6'>
                            <div class='col-lg-12'>
                                {{expenses.totals.count}} purchases <br /> {{expenses.totals.cost | currency}} spent
                            </div>
                            <div class='col-lg-12'>
                                <button type='submit' class='btn btn-default'>update your wife</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class='col-lg-6 col-lg-offset-3 well'>
                <table class='table'>
                    <tr ng-repeat='expense in expenses.list'>
                        <td>{{expense.date | date:'MMM d, h:mm a' }}</td>
                        <td>{{expense.name}}</td>
                        <td>{{expense.cost | currency }}</td>
                        <td>{{expense.description }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <script src='bower_components/angular/angular.js'></script>
        <script src='app.js'></script>
    </body>
</html>
